CompileFlags: # Tweak the parse settings
  Add:
    [-Wall, -Wno-missing-prototypes, -xc++]
  #   # -xc++, -std=c++20,
  #   # - "--include-directory=factory/include"
  # # Remove extra warnings specified in compile commands.
  # # Remove: -mabi

Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: 
    [ 
      bugprone-*,
      clang-analyzer-*,
      # google-*,
      # modernize-*,
      performance-*,
      portability-*,
      # readability-*,
    ]
    Remove: 
    [ 
      bugprone-easily-swappable-parameters,
      bugprone-implicit-widening-of-multiplication-result,
      bugprone-narrowing-conversions,
      bugprone-reserved-identifier,
      bugprone-signed-char-misuse,
      bugprone-suspicious-include,
      bugprone-unhandled-self-assignment,
      google-readability-avoid-underscore-in-googletest-name,
      modernize-avoid-c-arrays,
      modernize-use-nodiscard,
      readability-convert-member-functions-to-static,
      readability-identifier-length,
      readability-function-cognitive-complexity,
      readability-magic-numbers,
      readability-make-member-function-const,
      readability-qualified-auto,
      readability-redundant-access-specifiers,
      bugprone-exception-escape,
      bugprone-exception-escape,

      google-build-using-namespace,
      modernize-use-trailing-return-type,
    ]

    CheckOptions:
      readability-identifier-naming.ClassCase:          CamelCase 
      readability-identifier-naming.EnumCase:           CamelCase 
      readability-identifier-naming.FunctionCase:       CamelCase 
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.MemberCase:         lower_case
      readability-identifier-naming.MemberSuffix:       _         
      readability-identifier-naming.NamespaceCase:      lower_case
      readability-identifier-naming.StructCase:         CamelCase 
      readability-identifier-naming.UnionCase:          CamelCase 
      readability-identifier-naming.VariableCase:       lower_case
  
#   Suppress: invalid_consteval_call

#   UnusedIncludes: None

# InlayHints:
#   Enabled: Yes
#   ParameterNames: Yes
#   DeducedTypes: Yes

# Each file can contain multiple fragments separated by --- lines. (This is only useful if the fragments have different If conditions).
# ---
# # Use Remote Index Service for LLVM.
# If:
#   # Note: This is a regexp, notice '.*' at the end of PathMatch string.
#   PathMatch: /path/to/llvm/.*

# Index:
# External:
#   Server: clangd-index.llvm.org:5900
#   MountPoint: /path/to/llvm/